{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react"],
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true,
        "browser": true,
    },
    "rules": {
        "no-console": 0,
        "strict": 2
    },
    "globals": {
        "H"
    }
}
