.axis > .tick > * {
    fill: #ffffff;
    stroke: #ffffff;
}

.y-axis, x-axis {
    color: #ffffff;
}

.y-axis > path {
    stroke: #ffffff;
    fill: none;
}

.x-axis > path {
    stroke: #ffffff;
    fill: none;
}

.chart-hidden {
    visibility: hidden;
}

.root-svg {
    background-color: rgba(31, 38, 42, 0.8);
}
