body {
    margin: 0;
    padding: 0;
}

.dl-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#root {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 220px;
    height: 180px;
    background-color: rgba(31, 38, 42, 0.8);
    display: flex;
    flex-direction: column;
}
